doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Job Searcher
    link(href='https://fonts.googleapis.com/css?family=Amiri|Poiret+One&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Sacramento&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Quicksand&display=swap', rel='stylesheet')
    style.
      * {
      margin:0;
      padding:0;
      }
      h1 {
      text-align:center;
      color: #0B5345;
      letter-spacing: 6px;
      font-size:4.6em;
      font-family: 'Poiret One', cursive;
      }
      #cap {
      font-family: 'Sacramento', cursive;
      font-size: 2.65em;
      margin-top:-20px;
      color: #4D5656;
      margin-left:70%;
      }
      body {
      background-color:#B2F8F1;
      }
      .form {
      margin-top:10%;;
      text-align:center;
      width:100%;
      }
      .form h2 {
      font-family: 'Quicksand', sans-serif;
      font-size:2.3em;
      letter-spacing:0px;
      color:#7D3C98;
      }
      .field {
      margin-top:55px;
      height:30px;
      padding:10px;
      font-size:20px;
      border:none;
      border-radius:8px;
      }
      .position {
      height:18px;
      width:45%;
      }
      .location {
      height:18px;
      width:25%;
      }
      .search-buttn {
      height:40px;
      width:15%;
      background:#2E86C1;
      font-size:20px;
      border:none;
      color:#fff;
      border-radius:8px;
      }
      .search-buttn:hover {
      background-color:#52BE80;
      curser:pointer;
      }
      span {
      color:#CB4335;
      }
      #love {
      letter-spacing: 14px;
      margin-left: 20px;
      }
  body
    h1 Job searcher
    p#cap a new way...
    form.form(action='index.html', method='post')
      h2
        | find a 
        span Job
        |  you 
        span#love love
      .box
        input.field.position(type='text', placeholder='role')
        input.field.location(type='text', placeholder='location')
        button.search-buttn(type='button', name='button') Search
