doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Your search results
    link(href='https://fonts.googleapis.com/css?family=Quicksand&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Inconsolata&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round&display=swap', rel='stylesheet')
    style.
      * {
      margin:0;
      padding:0;
      }
      p {
      line-height:25px;
      }
      body {
      background-color:#B2F8F1;
      }
      h1 {
      margin-top:10px;
      font-size:2.4em;
      color:#1B4F72;
      text-align:center;
      font-family: 'Quicksand', sans-serif;
      }
      h2 {
      font-family: 'Varela Round', sans-serif;
      }
      h3 {
      font-family: 'Inconsolata', monospace;
      }
      .results {
      border-line:solid black 1px;
      margin-left:12.5%;
      margin-right:12.5%;
      background-color:#EAFAF1;
      border:solid black 0.00001px;
      }
      .job {
      margin-top:2%;
      margin-left:12.5%;
      margin-right:12.5%;
      width:75%;
      }
  body
    .results
      h1 Jobs based on your search
      .job
        h2 Software Engineer
        h3 Description:
        p
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
        a(href='#') link
      br
      hr
      .job
        h2 Compiler Research
        h3 Description:
        p
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
        a(href='#') link
      br
      hr
      .job
        h2 Backend
        h3 Description:
        p
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
        a(href='#') link
      br
      hr
      .job
        h2 Cloud reliability
        h3 Description:
        p
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
        a(href='#') link
      br
      hr
      .job
        h2 Full-stack
        h3 Description:
        p
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
        a(href='#') link
      br
      hr
      .job
        h2 Server Technology
        h3 Description:
        p
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
        a(href='#') link
      br
      hr
      .job
        h2 Content Creator
        h3 Description:
        p
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
        a(href='#') link
      br
      hr
      .job
        h2 Manager
        h3 Description:
        p
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
        a(href='#') link
      br
      hr
      .job
        h2 Project Head
        h3 Description:
        p
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          | Lorem IpsumLorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
        a(href='#') link
      br
      hr
